body {
    font-family: 'Roboto', sans-serif;
}

header {
    position: absolute;
    color: #333;
    font-family: 'Sacramento', cursive;
    font-size: 4em;
    font-weight: bold;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}
/* 
 ######                                                   
 #     #   ##   #####    ##   #      #        ##   #    # 
 #     #  #  #  #    #  #  #  #      #       #  #   #  #  
 ######  #    # #    # #    # #      #      #    #   ##   
 #       ###### #####  ###### #      #      ######   ##   
 #       #    # #   #  #    # #      #      #    #  #  #  
 #       #    # #    # #    # ###### ###### #    # #    #  
 */

#dropdown {
    width: 100%;
    height: 100vh;
    background-image: url(../images/fried.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: .8;
    display: flex;
    flex-flow: row wrap;
}

#carousel {
    width: 100%;
    height: 60vh;
    background-color: #2B3037;
    display: flex;
    flex-flow: row wrap;
}

#drag-and-drop {
    width: 100%;
    height: 100vh;
    background-image: url(../images/chips.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: .8;
}

/* 
######                                                   
#     # #####   ####  #####  #####   ####  #    # #    # 
#     # #    # #    # #    # #    # #    # #    # ##   # 
#     # #    # #    # #    # #    # #    # #    # # #  # 
#     # #####  #    # #####  #    # #    # # ## # #  # # 
#     # #   #  #    # #      #    # #    # ##  ## #   ## 
######  #    #  ####  #      #####   ####  #    # #    #  
*/

.dropdown {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}

.dropdown li {
    position: relative;
    width: 160px;
    text-align: center;
    margin: 0 2px;
}

.dropdown li:hover .ingredient {
    background-color: rgb(3, 3, 3);
    transition: .3s;
}

.ingredient {
    background-color: rgb(20, 20, 20);
    color: #fafafa;
    padding: 16px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
}

.options {
    display: none;
    position: absolute;
    background-color: rgb(170, 170, 170);
    box-shadow: 0px 5px 80px 0px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.options li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    width: 160px;
    transition: .3s;
}

.options li:hover {
    background-color: #cccccc;
    width: 100%;
    transition: .3s;
}

.dropdown li:hover .options {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

/* 
######                                                              
#     #   ##    ####  #    #    #####  ####     #####  ####  #####  
#     #  #  #  #    # #   #       #   #    #      #   #    # #    # 
######  #    # #      ####        #   #    #      #   #    # #    # 
#     # ###### #      #  #        #   #    #      #   #    # #####  
#     # #    # #    # #   #       #   #    #      #   #    # #      
######  #    #  ####  #    #      #    ####       #    ####  #       
*/

#back-to-top {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 200;
}

#back-to-top img {
    height: 100px;
    cursor: pointer;
}

/* 
 #####                                                   
#     #   ##   #####   ####  #    #  ####  ###### #      
#        #  #  #    # #    # #    # #      #      #      
#       #    # #    # #    # #    #  ####  #####  #      
#       ###### #####  #    # #    #      # #      #      
#     # #    # #   #  #    # #    # #    # #      #      
 #####  #    # #    #  ####   ####   ####  ###### ###### 
*/

.carousel-container {
    width: 80vw;
    margin: auto;
}

#carousel i {
    font-size: 3em;
    color: #dfdfdf;
}

.owl-prev {
    position: absolute;
    top: 35%;
    left: -50px;
}

.owl-next {
    position: absolute;
    top: 35%;
    right: -50px;
}

/*
######                                                  ######                       
#     # #####    ##    ####       ##   #    # #####     #     # #####   ####  #####  
#     # #    #  #  #  #    #     #  #  ##   # #    #    #     # #    # #    # #    # 
#     # #    # #    # #         #    # # #  # #    #    #     # #    # #    # #    # 
#     # #####  ###### #  ###    ###### #  # # #    #    #     # #####  #    # #####  
#     # #   #  #    # #    #    #    # #   ## #    #    #     # #   #  #    # #      
######  #    # #    #  ####     #    # #    # #####     ######  #    #  ####  #      
*/

.dnd-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 80vw;
    height: 100%;
    margin: 0 auto;
}
.basket {
    height: 300px;
    width: 300px;
    background-image: url(../images/basket.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex: 0 0 auto;
}

.potatoes {
    cursor: move;
}